djangorestframework==3.12.4  # https://github.com/encode/django-rest-framework
django-cors-headers==3.7.0 # https://github.com/adamchainz/django-cors-headers

# Swagger
# ------------------------------------------------------------------------------
drf_yasg==1.20.0 #https://github.com/axnsan12/drf-yasg